.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cover_container {
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
}

.cover_container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.cover_container > img {
    z-index: 1;
    max-height: 350px;
    height: 100%;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}